.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.box_2 {
}
._形状 {
  font-size:13px;
  color:#000000;
}
.label {
  font-size:14px;
  text-align:left;
}
.ellipse {
}
.line {
}
.arrow {
}
._图片 {
}
.box_1 {
}
._一级菜单 {
  font-size:14px;
  color:#D0E2FF;
}
.icon {
}
._二级菜单 {
  font-size:14px;
  color:#FFFFFF;
}
.flow_shape {
}
._形状1 {
}
._线条颜色 {
  color:#BCBCBC;
}
._边线 {
}
._默认样式 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._形状2 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.placeholder {
}
.checkbox {
  text-align:left;
}
._文本输入框 {
  font-size:12px;
  color:#868686;
}
._提示字体颜色 {
  font-size:12px;
  color:#AEAEAE;
}
._形状3 {
}
._表格 {
}
.tab_on {
}
.tab_off {
  color:#FFFFFF;
}
._文本段落 {
  text-align:left;
}
._文本输入框1 {
  font-size:12px;
  color:#868686;
}
._列表_th {
  font-size:12px;
  color:#FFFFFF;
}
._列表_td {
}
._图片1 {
  color:#000000;
}
._灰色字体 {
  font-size:14px;
  color:#BABABA;
}
.droplist {
  color:#000000;
  text-align:left;
}
._单选按钮 {
  text-align:left;
}
._复选框 {
  text-align:left;
}
._提示字体颜色1 {
  font-size:12px;
  color:#AEAEAE;
}
._垂直线 {
}
._水平线 {
}
._默认字体 {
  font-size:12px;
}
.tree_node {
  text-align:left;
}
._导航样式 {
  font-size:12px;
  color:#000000;
  line-height:28px;
}
.shape1 {
}
.heading_21 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.text_area {
  color:#000000;
  text-align:left;
}
.line1 {
}
._水平线1 {
}
._表格1 {
}
.shape2 {
}
.paragraph1 {
  text-align:left;
}
._边线样式 {
}
.on {
}
